<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="form1.Properties.Settings.denemeConnectionString"
            connectionString="Data Source=KUTHAN\SQLEXPRESS;Initial Catalog=deneme;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="form1.Properties.Settings._202503011ConnectionString"
            connectionString="Data Source=KUTHAN\SQLEXPRESS;Initial Catalog=202503011;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>